# Default NAMESPACE created by R
# Remove the previous line if you edit this file

# Export all names
exportPattern(".")

# Import all packages listed as Imports or Depends

import(
  "conflicted",
  "dplyr",
  "fixest",
  "stringr",
  "estimatr",
  "rlang",
  "utils",
  "haven"
)

import("huxtable", except=c("add_rownames"))
importFrom("stats", "as.formula", "cov", "lm", "predict", "residuals", "sd", "coef", "weighted.mean", "weights")


